body {
    font-family: sans-serif;
    margin: 0 50px;
}

.container {
    display: flex;
    gap: 50px;
}

#posts {
    width: 400px;
    /* border: 2px solid red; */
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    padding: 10px;
}

#posts>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 25px;
}

i {
    cursor: pointer;
}

#msg {
    color: red;
}

#showDate {
    color: green;
}